@page "/counter"
@using SimpleFluxDotNet.Abstractions

@inherits FluxComponent<ExampleState>

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @State.Current.Counter</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private Task IncrementCount() =>
        State.DispatchAsync(new IncrementCounterButtonClickedAction());

}